[submodule "src/yolov5"]
	path = src/yolov5
	url = https://github.com/ultralytics/yolov5.git
[submodule "data/ai-dataset-dvc-poc"]
	path = data/ai-dataset-dvc-poc
	url = https://github.com/DRAIVE/ai-dataset-dvc-poc.git
